h1{
    text-align: center;
}


li {
    list-style-type: none;
}

body{
    background-color: #d1d1d1;
}

.truc{
    margin-top : 12%;
    margin-left : 7%;
    color: black;
}

.trucs{
    margin-top : 8%;
    color: black;
    font-size : 25px;
}

.input_t{
    margin-left : 7%;
}
.red{
    color:red;
}

.green{
    color: green;
}

#enderfooter {
    display: flex;
    flex-direction: row;
}

#resp{
    margin-left : 25px;
}

.crousInputText{
    margin-top: 40px;
    font-size: 20px;
}

.crousButton{
    margin-left: 33%;
    width: 20em;
    height: 2em;
}

#input_value1{
    margin-left : 154px;
}

#input_value2{
    margin-left : 110px;
}

#input_value3{
    margin-left : 27px
}

#margin_left{
    margin-left : 363px;
}

.carac_profile{
    flex: 1;
    text-align: left;
}

.profile_class {
    text-align: left;
}

.profil_carac_container {
    display: flex;
    width : 25%;
}

#input_submittt{
    margin-left: 200px;
}

.trucss{
    margin-top : 14%;
    color: black;
    font-size : 25px;
    margin-left : 10%;
}

.input_tt{
    margin-left: 11%;
}

#bonjour{
    margin-left: 20px;
}

#au_revoir{
    margin-left: 10px;
}

#toProfilHome {
    float: right;
}

#toProfilHome:hover , #toBankHome:hover{
    cursor : pointer;
}

.red-clickable {
    color: red;
}

.red-clickable:hover {
    cursor: pointer;
}