h1{
    text-align: center;
}

.truc{
    margin-top : 12%;
    margin-left : 7%;
    color: black;
}

.input_t{
    margin-left : 7%;
}
.red{
    color:red;
}

.green{
    color: green;
}

#resp{
    margin-left : 25px;

}

.crousInputText{
    padding-top: 10px;
    text-align: left;
    font-size: 20px;
}

#input_value1{
    margin-left : 54px;
}

#input_value2{
    margin-left : 10px;
}

#margin_left{
    margin-left : 263px;
}